 <div class="section main" id="main">
   <div class="container">
     <div class="row">
       <div class="eight columns">

         <h2 class="main-heading">HostView Study</h2>

         <h5>
           HostView is a data collection tool for helping our research on people's online activities, content consumption patterns and perceived Quality of Experience (QoE).
         </h5>
         <a class="button button-primary" href="#goals">Tell me more !</a>
       </div>

       <div class="four columns logos">
         <a href="#contacts"><img class="logo" src="images/inrialogo.png"></a>
         <a href="#contacts"><img class="logo" src="images/nottinghamlogo.png"></a>
         <a href="#contacts"><img class="logo" src="images/ucnlogo.png"></a>
       </div>
     </div>
   </div>
 </div>

 <div class="section goals" id="goals">
   <div class="container">
     <div class="row">
       <h2 class="main-heading">Research Questions</h2>
       <h5 class="goal-heading">Privacy</h5>
       <p class="goal-description">
         The fundamental research theme of the UCN project is user data privacy and how can we provide advanced content recommendation and delivery services while quaranteeing privacy and keeping users in control of their personal data.
       </p>
     </div>
     <div class="row">
       <div class="one-third column value">
         <h2 class="goal-multiplier">What?</h2>
         <h5 class="goal-heading">Recommendations</h5>
         <p class="goal-description">There is a staggering amount of online content available today on the Internet and finding relevant and interesting content is a daunting task. We seek to build improved content recommendation mechanisms with better knowledge about user’s needs and interests by incorporating various additional explicit and implicit signals originated by the user -- history, habits, mood, location, preferences and so on.</p>
       </div>
       <div class="one-third column value">
         <h2 class="goal-multiplier">When? Where?</h2>
         <h5 class="goal-heading">Context Awareness</h5>
         <p class="goal-description">We own today a multiplicity of networked devices (smartphones, tablets, notebooks, etc.), each requiring different encodings, resolutions, and so on. Furthermore, the manner of accessing the network also changes with time and space (e.g., transition from WiFi to 3G), which introduces additional complexity to the content delivery process.</p>
       </div>
       <div class="one-third column value">
         <h2 class="goal-multiplier">How?</h2>
         <h5 class="goal-heading">Quality of Experience</h5>
         <p class="goal-description">Understanding and improving the user perceived quality of online content delivery is a complex task. How to collect user QoE and relate it to the correct contextual information? How to optimize the content delivery from the Internet based on user context? How to optimize local networking resources according to user context and preferences?
         </p>
       </div>
     </div>
     <div class="row">
       <a class="button button-primary" href="#join">Cool, how can I help ?</a>
     </div>
   </div>
 </div>

 <div class="section join" id="join">
   <div class="container">
     <div class="row">
       <h2 class="main-heading">Participate to UCN Study</h2>
       <h5>by contributing data on your online activities and network performance</h5>
     </div>
     <div class="row">
       <a class="button" href="hostviewinstaller.exe">
         HostView for Windows
       </a>
       <a class="button" href="hostview.apk">
         HostView for Android
       </a>
     </div>
     <div class="row">
       <p class="join-section-description">
         Hostview is a small data collection tool that we have developed for the UCN study. It runs on your device on the background and collects data on your activities (device and screen states, running applications, foreground window, visited URLs, presence of mouse, keyboard, audio or video events) and raw system performance data (cpu, memory, network traffic). Few times a day, it will ask you to indicate your current activity and rate the performance of your system. The tool is designed to consume little system resources and data uploads are scheduled only when there is little other traffic. You can pause the data collection at anytime. You can also visualize your data on our website in order to get more insight into your online activities, content consumption and delivery performance. We hope you will install Hostview at least for three months, after which it will prompt you to uninstall (unless you decide to keep running it!).
       </p>
     </div>
     <div class="row">
       <a class="button button-primary" href="#install">Instructions</a>
     </div>
   </div>
 </div>


 <div class="section" id="install">
   <div class="container">
     <div class="row">
       <h2 class="main-heading">Instructions</h2>
       <div class="row">
         <a class="button" href="hostviewinstaller.exe">
           HostView for Windows
         </a>
         <a class="button" href="hostview.apk">
           HostView for Android
         </a>
       </div>
       <p class="section-description">
         <ul>
           <li>Download the data collection software (only available for Windows and xxx).</li>
           <li>Double-click on the installer on your device.</li>
           <li>Read and accept the participation consent form presented by the installer.</li>
           <li>Select a password to access your personal data visualizations on our website.</li>
           <li>Upon completion, the data collection will start automatically on the background.</li>
           <li>You can access the pause button and link to the data visualizations via the application icon on the systray (windows) or xxx.</li>
           <li>Three times a day, Hostview will pop-up a short questionnaire. Filling it will provide us with hard-to-measure user feedback !</li>
         </ul>
       </p>
     </div>
     <div class="row">
       <a class="button button-primary" href="#privacy">Data Protection and Privacy</a>
     </div>      
   </div>
 </div>  


 <div class="section" id="privacy">
   <div class="container">
     <div class="row">
       <h2 class="main-heading">Data Protection and Privacy</h2>
       <p class="section-description">
         We have taken several measures to protect your data and privacy:
         <ul>
           <li><strong>Uploads:</strong> data is always uploaded over encrypted network connection.</li>
           <li><strong>Servers:</strong> data is stored on our secure servers at Inria facility in France.</li>
           <li><strong>Access:</strong> only researchers working on the project have access to the raw data. We do not share your data to 3rd parties.</li>
           <li><strong>Privacy policy:</strong> UCN study has been declared to the french data protection authority, Commission for Informatics and Liberties 
             (CNIL), and is subject to the following legislation:
             <blockquote>
               In accordance with Article 34-38, Law N ° 78-17 "Data processing and
               Freedoms" of January 6, 1978, as amended by the Act of 6 August 2004, and 
               a right to rectification and removal (Article 36) of personal data, participants can request rectify, complete, clarify, update or delete information about them that is inaccurate, incomplete, outdated, or that the use, communication or storage is prohibited. Participants can at any time exercise this right by contacting us by e-mail at "muse.ucnstudy [at] inria.fr".          
             </blockquote>          
           </li>
         </ul>

       </p>
     </div>
     <div class="row">
       <a class="button button-primary" href="#contacts">More Questions ?</a>
     </div>      
   </div>
 </div>


 <div class="section main" id="contacts">
   <div class="container">
     <div class="row">
       <div class="eight columns">

         <h2 class="main-heading">Contacts</h2>

         <h5>
           UCN study is funded by the European Commission within the <a target='_blank' href='http://www.usercentricnetworking.eu'>UCN project</a> and it is joint work between Inria Paris-Rocquencourt (France) and University of Nottingham (UK).
         </h5>
         <a class="button" href="mailto:muse.ucnstudyATinria.fr">
           send us email
         </a>
       </div>

       <div class="four columns logos">
         <a target='_blank' href="http://www.inria.fr"><img class="logo" src="images/inrialogo.png"></a>
         <a target='_blank' href="http://www.nottingham.ac.uk"><img class="logo" src="images/nottinghamlogo.png"></a>
         <a target='_blank' href="http://www.usercentricnetworking.eu"><img class="logo" src="images/ucnlogo.png"></a>
         <a class="button button-primary" href="#main">Back to top</a>
       </div>
     </div>
     <div class="row">
     </div>            
   </div>
 </div>

